.additionally-product {
  padding: 25px 20px 35px;
}

.additionally-product__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
}

.additionally-product__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
}

.additionally-product__promotion {
  min-height: 289px;
}
