.button {
  font-family: $spesial-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  border: none;

  &--green {
    background-color: $green;
  }

  &--gray {
    background-color: $gray-10;
    color: $gray-70;
  }
}
