.catalog__container {
  @include container;
  display: grid;

  @include mobile-only {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      top: 0;
      left: -20px;
      background-color: $gray-10;
    }
  }
}

.catalog__title {
  margin: 27px 0 41px;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    margin: 64px 0 82px;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin: 74px 0 84px;
  }
}

.catalog__list {
  @include clear-list;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
  }

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 62px 80px;
  }
}
