.contacts__container {
  @include desktop {
    position: relative;
  }
}

.contacts__header {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  &--gray {
    background-color: $gray-5;
  }

  @include tablet {
    padding: 56px 70px;
  }

  @include desktop {
    padding: 56px 78px 56px 80px;
    background-color: $white;
    width: 565px;
    position: absolute;
    top: 95px;
    left: calc((100vw - $desktop) / 2 + 110px);
  }
}

.contacts__title {
  font-family: $special-font;
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @include tablet {
    padding: 4px 0 5px;
    font-size: 20px;
    line-height: 26px;
  }

  @include desktop {
    padding: 4px 0 4px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include tablet-only {
    text-align: right;
  }

  @include tablet {
    font-size: 16px;
    gap: 20px;
  }
}
