.copyright {
  font-size: 16px;
  color: $gray-60;
  text-decoration: none;
  padding: 8px 0 8px;
  position: relative;

  &::after {
    content: "";
    width: 27px;
    height: 34px;
    mask-image: url("../img/icon/sprite.svg#html-academy");
    background-color: $gray-55;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    outline: none;

    &::after {
      background-color: $green-10;
    }
  }

  &:active {
    color: transparentize($gray-60, 0.7);

    &::after {
      background-color: transparentize($green-10, 0.7);
    }
  }
}
