.field {
  font-family: $special-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $gray-60;
  display: flex;
  column-gap: 14px;
  align-items: center;
  min-width: 280px;
  position: relative;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__label {
  min-width: max-content;
  flex-grow: 0;
  cursor: pointer;
}

.field__input {
  @include clear-number;
  @include clear-input;
  outline: 1px solid $gray-20;
  padding: 14px 50px 13px 20px;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 70px;
  line-height: inherit;
  color: inherit;
  text-transform: inherit;

  @include tablet {
    padding: 11px 52px 11px 20px;
  }

  &--phone,
  &--email {
    @include mobile-only {
      padding-left: 14px;
    }

    @include tablet {
      margin-left: 7px;
    }
  }

  &:hover {
    outline-color: $gray-40;
  }

  &:focus {
    outline: 2px solid $gray-60;
  }

  &:focus + .field__icon {
    background-color: $green-10;
  }

  &:invalid {
    outline: 2px solid $red;
  }

  &:invalid + .field__icon {
    background-color: $red;
  }
}

.field__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  background-color: $black-10;

  @include tablet {
    right: 18px;
  }

  &--email {
    mask-image: url("../img/icon/sprite.svg#email");
  }

  &--phone {
    mask-image: url("../img/icon/sprite.svg#phone");
  }
}

.field__textarea {
  width: 100%;
  min-height: 150px;
  resize: none;
  border: 1px solid $gray-20;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 10px 12px 10px 15px;
  box-sizing: border-box;

  @include tablet {
    min-height: 174px;
    padding: 10px 19px;
  }
}
