.living-example {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: $gray-15;

    @include tablet {
      height: 462px;
    }
  }

  @include tablet-only {
    border-top: 1px solid $gray-25;
  }
}

.living-example__container {
  @include container;
  padding: 25px 0 40px;

  @include tablet-only {
    padding: 43px 0 101px;
  }

  @include desktop {
    padding: 30px 0 75px;
    display: flex;
    justify-content: space-between;
  }
}

.living-example__wrapper {
  @include desktop {
    width: 436px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.living-example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @include desktop {
    margin-bottom: 146px;
  }
}

.living-example__description {
  margin: 0;
  margin-bottom: 20px;
  color: $gray-60;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @include desktop {
    margin-bottom: 69px;
  }
}
