.living-example {
  background-color: $special-grey-light;
}

.living-example__wrapper {
  padding: 25px 20px 40px;
}

.living-example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.living-example__description {
  margin: 0;
  margin-bottom: 20px;
  color: $special-grey-darkness;
}
