.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  display: block;
  margin: 0 auto;

  @include tablet {
    margin: 0;
    margin-right: auto;
  }
}
