.logo {
  @include mobile-only {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon-picture {
  display: block;

  @include tablet {
    width: 174px;
    height: 52px;
  }

  @include desktop {
    width: 202px;
    height: 59px;
  }
}

.logo__icon-text {
  margin-top: 6px;

  @include tablet {
    display: none;
  }
}

.logo__image {
  display: block;
  margin: 0 auto;
  fill: $black-5;

  @include tablet {
    width: 143px;
    height: 26px;
    margin: 0;
    margin-right: auto;
  }
}
