.main-footer {
  background-color: $gray-10;
}

.main-footer__container {
  @include container;
  padding: 40px 0;
  display: grid;
  gap: 40px;

  @include tablet {
    padding: 55px 0;
    grid-template-columns: 168px 1fr 168px;
    align-items: center;
  }

  @include desktop {
    padding: 66px 0;
  }
}
