.main-header__container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include tablet {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    margin-top: 53px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @include mobile-only {
    padding: 10px 20px 17px;
  }
}

.main-header__toggle {
  margin-top: 4px;

  &--nojs {
    display: none;
  }
}

.main-header__navigation {
  @include mobile-only {
    &--opened {
      position: absolute;
      background-color: $white;
      z-index: 1;
      width: 100%;
    }

    &--closed {
      display: none;
    }

    &--nojs {
      display: block;
      position: static;
    }
  }
}
