.main-header {
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  @include desktop {
    padding: 53px 110px 29px;
  }
}

.main-header__wrapper {
  padding: 10px 20px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 0;
  }
}

.main-header__logo {
  width: 191px;
}

.main-header__toggle {
  //@include clear-input;
  display: block;
  width: 24px;
  height: 18px;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}
