.map {
  background-color: #ededee;
}

.map__interactive {
  display: block;
  width: 100%;

  @include tablet {
    min-height: 400px;
  }

  &--nojs {
    display: none;
  }
}

.map__image {
  display: none;

  &--nojs {
    display: block;
    margin: 0 auto;

    @include tablet {
      width: 768px;
      height: auto;
    }

    @include desktop {
      width: 1440px;
    }
  }
}
