.principle-work__wrapper {
  padding: 0 20px 49px;
}

.principle-work__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}

.principle-work__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $special-grey-darkness;
}
