.principle-work__container {
  @include container;
  padding: 10px 0 49px;

  @include tablet {
    padding: 45px 0 47px;
  }

  @include desktop {
    padding: 36px 0 39px;
  }
}

.principle-work__title {
  font-family: $special-font;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.principle-work__list {
  counter-reset: principle 0;

  @include clear-list;
  color: $gray-60;
  display: grid;
  gap: 20px;

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 37px 60px;
  }

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 80px;
  }
}

.principle-work__item {
  counter-increment: principle 1;
  position: relative;

  @include tablet {
    min-height: 280px;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    background: $green-10 no-repeat center center;

    @include tablet {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  &--leaf::before {
    background-image: url("../../img/icon/leaf.svg");
  }

  &--powder::before {
    background-image: url("../../img/icon/powder.svg");
  }

  &--eat::before {
    background-image: url("../../img/icon/eat.svg");
  }

  &--clock::before {
    background-image: url("../../img/icon/clock.svg");
  }

  &::after {
    @include tablet {
      position: absolute;
      top: 0;
      content: counter(principle);
      font-family: $special-font;
      font-size: 280px;
      line-height: 280px;
      color: $gray-5;
      z-index: -1;
      min-width: 136px;
      text-align: center;
    }

    @include tablet {
      left: 55%;
      transform: translateX(-50%);
    }

    @include desktop {
      left: 72%;
    }
  }
}

.principle-work__description {
  margin: 0;
  margin-left: 80px;
  padding: 3px 0 3px;

  @include tablet {
    margin-left: 0;
    margin-top: 151px;
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }
}
