.product-card {
  padding: 19px 20px 25px;
}

.product-card__link {
  text-decoration: none;
  color: inherit;
}

.product-card__title {
  margin: 0;
  font-family: $spesial-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__table {
  font-size: 12px;
  line-height: 16px;
  color: $gray-70;
}

.product-card__button {
  display: block;
  padding: 10px 0;
}

.product-card__description {
  font-size: 12px;
  line-height: 16px;
  color: $gray-70;
}
