.programs-card {
  padding: 30px 20px 18px;
  background-color: $gray-5;
  position: relative;

  @include tablet-only {
    padding: 77px 316px 57px 52px;
  }

  @include desktop {
    padding: 77px 65px 59px 52px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
  }

  &--slim::before {
    background: url("../img/icon/cat-slim.svg") no-repeat center center;
    background-size: 100% auto;

    @include mobile-only {
      width: 50px;
      height: 53px;
      top: 21px;
      left: 22px;
    }

    @include tablet-only {
      width: 200px;
      height: 211px;
      top: 78px;
      right: 62px;
    }

    @include desktop {
      width: 100px;
      height: 106px;
      top: 40px;
      left: 52px;
    }
  }

  &--pro::before {
    background: url("../img/icon/cat-pro.svg") no-repeat center center;
    background-size: cover;

    @include mobile-only {
      width: 67px;
      height: 50px;
      top: 24px;
      left: 13px;
    }

    @include tablet-only {
      width: 268px;
      height: 200px;
      top: 91px;
      right: 29px;
    }

    @include desktop {
      width: 134px;
      height: 100px;
      top: 46px;
      left: 34px;
    }
  }
}

.programs-card__title {
  margin: 0 0 30px 71px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @include tablet {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop {
    margin: 0 0 73px 162px;
  }
}

.programs-card__description {
  margin: 0;
  margin-bottom: 18px;
  color: $gray-60;

  @include mobile-only {
    padding-bottom: 22px;
    border-bottom: 1px solid $gray-30;
  }

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  @include desktop {
    margin-bottom: 27px;
  }
}

.programs-card__link {
  font-family: $special-font;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;
  position: relative;
  padding-right: 15px;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    padding-right: 25px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    mask-image: url("../img/icon/sprite.svg#arrow-right");
    background-color: #000000;

    @include tablet {
      margin-left: 25px;
    }
  }

  &:hover,
  &:focus {
    &::after {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
