.promo {
  position: relative;
  font-family: $special-font;
  color: $white;
  text-align: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 302px;
    z-index: -1;
    background: $green-30 url("../img/cat-background-mobile@1x.jpg") no-repeat center center;

    @include resolution {
      background-image: url("../img/cat-background-mobile@2x.jpg");
      background-size: 280px auto;
    }

    @include tablet-only {
      display: none;
    }

    @include desktop {
      width: 50%;
      top: -112px;
      height: 694px;
      left: 50%;
      background-image: url("../img/cat-background-desktop@1x.jpg");
      background-position: right center;

      @include resolution {
        background-image: url("../img/cat-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  @include tablet {
    color: inherit;
    text-align: inherit;
  }
}

.promo__container {
  @include container;
  position: relative;
}

.promo__wrapper {
  box-sizing: border-box;
  padding-top: 27px;

  @include tablet {
    padding: 64px 88px;
  }

  @include desktop {
    padding: 111px 80px 110px;
  }
}

.promo__title {
  font-family: $special-font;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__tagline {
  margin: 0;
  margin-bottom: 302px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.promo__image {
  position: absolute;

  @include mobile-only {
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include tablet {
    width: 709px;
    height: auto;
    z-index: -1;
    bottom: 0;
  }

  @include desktop {
    top: 29px;
    width: 552px;
    left: 448px;
  }
}

.promo__button {
  padding: 11px 0;
  display: inline-block;
  min-width: 100%;
  font-size: inherit;
  line-height: inherit;

  @include tablet {
    min-width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    box-sizing: border-box;
    margin: 0 0 462px 2px;
  }

  @include desktop {
    margin: 0 0 74px;
  }
}
