.promotion {
  position: relative;
}

.promotion::before,
.promotion::after {
  content: "";
  width: 279px;
  height: 289px;
  position: absolute;
  display: block;
  top: 0;
}

.promotion::before {
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
}

.promotion::after {
  background: url("../img/cat-case-background.jpg") no-repeat center center;
  z-index: -2;
}

.promotion__wrapper {
  padding: 59px 61px 43px 58px;
}

.promotion__text {
  margin: 0;
  margin-top: 128px;
  color: $basic-white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
