.promotion {
  background: $green-10 url("../img/cat-case-background.jpg") no-repeat center center;
}

.promotion__wrapper {
  padding: 59px 61px 43px 58px;
  position: relative;

  @include tablet-only {
    padding: 71px 124px 69px 77px;
  }

  @include desktop {
    padding: 56px 43px 42px 50px;
  }

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/icon/gift.svg") no-repeat center center;

    @include tablet-only {
      left: 77px;
      top: 57px;
      transform: none;
    }
  }
}

.promotion__text {
  margin: 0;
  margin-top: 128px;
  color: $white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  @include tablet-only {
    margin: 0;
    margin-left: auto;
    width: 161px;
    text-align: left;
  }
}
