.questionnaire__container {
  @include container;

  @include mobile-only {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      top: 0;
      left: -20px;
      background-color: $gray-10;
    }
  }

  @include tablet-only {
    width: calc(100% - 140px);
  }
}

.questionnaire__header {
  padding: 28px 0 39px;

  @include tablet {
    padding: 64px 0 66px;
  }

  @include tablet {
    padding: 75px 0 65px;
  }
}

.questionnaire__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @include desktop {
    margin-bottom: 56px;
  }
}

.questionnaire__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}
