.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-55;

  &--vkontakte {
    mask-image: url("../img/icon/sprite.svg#vkontakte");
  }

  &--youtube {
    mask-image: url("../img/icon/sprite.svg#youtube");
  }

  &--telegram {
    mask-image: url("../img/icon/sprite.svg#telegram");
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $green-10;
  }

  &:active {
    background-color: transparentize($green-10, 0.7);
  }
}
