// COLORS
$basic-green: #68b738;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-gray: #f2f2f2;
$special-gray: #cdcdcd;
$special-gray-light: #eaeaea;
$special-gray-dark: #666666;
$special-gray-darkness: #444444;

// FONTS
$basic-font: "Lato", "Arial", sans-serif;
$spesial-font: "Oswald", "Arial", sans-serif;
