// COLORS
$basic-green: #68b738;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-light: #eaeaea;
$special-grey-dark: #666666;
$special-grey-darkness: #444444;

// FONTS
$basic-font: "Lato", "Arial", sans-serif;
$spesial-font: "Oswald", "Arial", sans-serif;
